.footer {
  background-color: #333;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
  font-size: 1.2rem;
  text-align: center;
  /* position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; */
}

.footer div {
  margin-bottom: 1rem;
}

.footer h3 {
  margin-bottom: 1rem;
}

.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer ul li {
  display: inline-block;
  margin-right: 1rem;
}

.footer ul li:last-child {
  margin-right: 0;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer p {
  margin: 0;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    position: relative;
  }
}
