.teacher {
  margin: 0 auto;
  max-width: 800px;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.teacher__image {
  width: 40%;
  margin-bottom: 1rem;
  flex: 0 0 auto;
}

.teacher__info {
  width: 50%;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 1 auto;
}

.teacher__name {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.teacher__description {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.teacher__rating {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  margin-top: 1rem;
}

.teacher__rating-text {
  margin-right: 0.5rem;
  font-weight: bold;
}

.teacher__rating-value {
  font-weight: bold;
  color: #f39c12;
}

#submitComment {
  padding: 5px 10px;
  font-size: 15px;
  background: #007bff;
  outline: 0;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-family: 'Nunito', sans-serif;
  margin-left: 1em;
  transition: all .2s ease-in;
}
#submitComment:hover {
  background: #016ada;
}

@media screen and (max-width: 767px) {
  .teacher {
    flex-direction: column;
    align-items: center;
  }

  .teacher__image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .teacher__info {
    width: 100%;
    margin-left: 0;
  }

  .teacher__description {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
  }

  .teacher__rating {
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .teacher__description {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
  }

  .teacher__rating {
    font-size: 1rem;
  }
}
